body{
  background-color: #F9F9F9;
}
.container{
  display: inline-block;
  background-color: white;
  margin: 4vw 20vw ;
  border: 0.5px solid #CDF0EA;
  border-radius: 5px;
}
.contain-title{
  text-align: center;
}

h1{
  display: inline;
  font-size: 4vw;
}
.logo-list{
  width: 4vw;
  height: 4vw;
  vertical-align: sub;
  margin-left: 1vw;
}
.block{
  margin: 0vw 10vw 2vw 10vw;
}
.input-btn{
  display: inline-flex;
  padding: 1vw;
}
input{
  width: 30vw;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1.5px solid #D8D8D8; 
  font-size: 2vw;
}
input::placeholder{
  padding: 5px;
  font-weight: 500;
  font-size: 1vw;
}
.btn-add{
  background-color: #5CB8E4;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  margin-left: 10px;
  font-weight: 700;
  color: white;
}
.contain-todo{
  background-color: #CDF0EA;
  padding: 1vw;
  border-radius: 6px;
  margin: 1vw auto;
}
li{
  /* display: inline-block; */
  width: 30vw;
  list-style-type: none;
  border: 1.5px solid #D8D8D8;
  padding-left: 1.5vw;
  border-radius: 5px;
  margin: 1vw auto;
  font-size: 2vw;
  font-weight: 500;
  word-wrap:break-word;
}
.todo-detail{
  display: flex;
}
.btn-delete{
  background-color: red;
  height: 3vw;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  margin: 1vw 2vw;
}
