.container{
  background-color: #ABD9FF;
  margin: 5vw 20vw ;
}
h1{
  text-align: center;
}
.block{
  margin: auto 10vw;
}
.input-btn{
  display: flex;
  
}
input{
  width: 30vw;
  box-sizing: border-box;
  border-radius: 5px;
}
button{
  background-color: #F44336;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  margin-left: 10px;
}

